.burgerMenu {
  background-color: #3faf82;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerMenu__container {
  height: 50px;
  width: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.burgerMenu__line-1,
.burgerMenu__line-2,
.burgerMenu__line-3 {
  background-color: #fff;
  height: 8px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.burgerMenu__line-1 {
  position: absolute;
  top: 0%;
  z-index: 50;
}

.burgerMenu__line-2 {
  position: absolute;
  top: 50%;
}

.burgerMenu__line-3 {
  position: absolute;
  top: 100%;
  z-index: 100;
}

.desaparece {
  animation: desaparecer 0.7s linear forwards;
}

.aparece {
  animation: aparecer 0.7s linear forwards;
}

.baja {
  animation: baja 0.7s ease-out forwards;
}

.sube2 {
  animation: sube2 0.7s ease-out forwards;
}

.sube {
  animation: sube 0.7s ease-out forwards;
}

.baja2 {
  animation: baja2 0.7s ease-out forwards;
}

@keyframes desaparecer {
  0% {
    width: 100%;
    height: 8px;
    opacity: 1;
  }

  50% {
    width: 50%;
    height: 4px;
    opacity: 0.5;
    display: none;
  }

  100% {
    width: 50%;
    height: 4px;
    opacity: 0;
    display: none;
  }
}

@keyframes baja {
  0% {
    top: 0;
    rotate: 0deg;
  }

  50% {
    top: 50%;
    rotate: 0deg;
  }
  100% {
    top: 50%;
    rotate: 45deg;
  }
}

@keyframes sube {
  0% {
    top: 100%;
    rotate: 0deg;
  }

  50% {
    top: 50%;
    rotate: 0deg;
  }

  100% {
    top: 50%;
    rotate: 135deg;
  }
}

@keyframes baja2 {
  0% {
    top: 50%;
    rotate: 135deg;
  }

  50% {
    top: 50%;
    rotate: 0deg;
  }

  100% {
    top: 100%;
    rotate: 0deg;
  }
}

@keyframes sube2 {
  0% {
    top: 50%;
    rotate: 45deg;
  }

  50% {
    top: 50%;
    rotate: 0deg;
  }

  100% {
    top: 0%;
    rotate: 0deg;
  }
}

@keyframes aparecer {
  0% {
    width: 50%;
    height: 4px;
    opacity: 0;
    display: none;
  }

  50% {
    width: 50%;
    height: 4px;
    opacity: 0.5;
    display: none;
  }

  100% {
    width: 100%;
    height: 8px;
    opacity: 1;
  }
}
